<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Classifier</title>
</head>
<body>
    <h1>Review Classifier</h1>
    <form id="reviewForm">
        <textarea id="reviewText"></textarea>
        <button type="submit">Classify Review</button>
    </form>
    <div id="result"></div>
    <div id="probabilities"></div>
    
    <script>
        document.getElementById('reviewForm').onsubmit = function(event) {
            event.preventDefault(); // Evita que el formulario se envíe de la manera tradicional
            const reviewText = document.getElementById('reviewText').value;

            // Hacer la solicitud POST al endpoint de predicción
            fetch('/prediction', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ reviewText: reviewText })
            })
            .then(response => response.json())
            .then(data => {
                // Mostrar los resultados de predicción
                document.getElementById('result').textContent = 'Prediction: ' + data.predictions.join(', ');

                // Mostrar las probabilidades
                // Asumiendo que quieres mostrar la probabilidad de la clase predicha
                const probabilities = data.probabilities.map(prob => prob.map(p => p.toFixed(2)));
                document.getElementById('probabilities').textContent = 'Probabilities: ' + probabilities.join(', ');
            })
            .catch(error => console.error('Error:', error));
        };
    </script>
</body>
</html>
